<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Vehiculos</ion-title>
  </ion-toolbar>
  <ion-button (click)="openCreate()">Añadir</ion-button>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let v of vehicles">
      <ion-label>
        <h2 style="font-weight: bold; text-transform: uppercase">
          {{ v.model }}
        </h2>
        <p>Placa: <ion-text color="dark">{{ v.plate }}</ion-text></p>

        <div style="margin-top: 8px">
          <ion-chip
            [color]="v.is_active ? 'success' : 'danger'"
            outline="true"
            style="font-size: 12px"
          >
            <ion-icon
              [name]="v.is_active ? 'checkmark-circle' : 'close-circle'"
            ></ion-icon>
            <ion-label>{{ v.is_active ? 'Activo' : 'Inactivo' }}</ion-label>
          </ion-chip>

          <ion-chip
            *ngIf="v.is_active"
            [color]="v.is_available ? 'primary' : 'warning'"
            style="font-size: 12px"
          >
            <ion-label
              >{{ v.is_available ? 'Disponible' : 'En Uso' }}</ion-label
            >
          </ion-chip>
        </div>
      </ion-label>

      <ion-button fill="outline" slot="end" (click)="openEdit(v)">
        <ion-icon slot="start" name="create-outline"></ion-icon>
        Editar
      </ion-button>
      <ion-button fill="outline" color="danger" (click)="delete(v.id)">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        Eliminar
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="loading"></ion-spinner>
</ion-content>
