<ion-header class="ion-no-border">
  <ion-toolbar class="admin-toolbar">
    <div class="page-header-container">
      <div class="header-info">
        <h1>Gestion de <span>Pallets</span></h1>
      </div>

      <button (click)="openCreate()" class="add-book-btn">
        <ion-icon name="add-outline"></ion-icon>
        <span>Registrar Pallet</span>
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">

  <div *ngIf="loading" class="flex flex-col items-center justify-center h-64 w-full">
    <ion-spinner name="lines-sharp" color="primary"></ion-spinner>
    <p class="text-slate-400 text-xs mt-2 uppercase tracking-widest font-bold animate-pulse">Cargando</p>
  </div>

  <div *ngIf="!loading" class="max-w-6xl mx-auto p-4 space-y-4">

    <div *ngFor="let p of pallets" class="book-row group">
      <div class="book-spine"
           [class.bg-green-500]="p.status === 'empty'"
           [class.bg-blue-500]="p.status === 'open'"
           [class.bg-orange-500]="p.status === 'full'">
      </div>

      <div class="flex-1 grid grid-cols-1 md:grid-cols-12 items-center gap-6 p-6">

        <div class="md:col-span-4">
          <h2 class="text-xl font-black text-slate-800 group-hover:text-blue-700 transition-colors uppercase leading-tight tracking-tighter">
            {{ p.pallet_code }}
          </h2>
          <div class="flex items-center gap-2 mt-1">
             <div [class]="'status-badge ' + p.status">
                {{ p.status === 'empty' ? 'Vacío' : (p.status === 'open' ? 'Abierto' : 'Lleno') }}
             </div>
          </div>
        </div>

        <div class="md:col-span-5 border-l border-slate-100 pl-6 grid grid-cols-1 gap-y-2">
          <div class="data-field flex items-center gap-2">
            <ion-icon name="location-outline" class="text-slate-400"></ion-icon>
            <div>
              <p class="label">Ubicación en Almacén</p>
              <p class="text-slate-700 font-bold uppercase">{{ p.warehouse_location }}</p>
            </div>
          </div>
        </div>

        <div class="md:col-span-3 flex justify-end gap-2">
          <button (click)="openEdit(p)" class="book-action-btn edit" title="Editar pallet">
            <ion-icon name="pencil-outline"></ion-icon>
          </button>
          <button (click)="delete(p.id)" class="book-action-btn delete" title="Eliminar registro">
            <ion-icon name="trash-outline"></ion-icon>
          </button>
        </div>
      </div>
    </div>

  </div>
</ion-content>
