<ion-header>
  <ion-toolbar>
    <ion-title> Crear ticket </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" *ngIf="!loading">
    <ion-item>
      <ion-label position="stacked">Tipo de Operación</ion-label>
      <ion-select formControlName="type" placeholder="Seleccione tipo">
        <ion-select-option value="entry">Entrada</ion-select-option>
        <ion-select-option value="sale">Venta</ion-select-option>
        <ion-select-option value="removed">Retiro</ion-select-option>
        <ion-select-option value="change">Cambio</ion-select-option>
      </ion-select>
    </ion-item>

    <div *ngIf="form.get('type')?.value">
      <ion-item>
        <ion-label position="stacked">Asignado a</ion-label>
        <ion-select
          formControlName="assigned_to"
          placeholder="Seleccionar trabajador"
        >
          <ion-select-option *ngFor="let w of workers" [value]="w.id">{{
            w.name
          }}</ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Libro</ion-label>
        <ion-select formControlName="book_id">
          <ion-select-option *ngFor="let b of books" [value]="b.id">
            {{ b.title }}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Cantidad Total de Paquetes</ion-label>
        <ion-input type="number" formControlName="quantity"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Descripción</ion-label>
        <ion-textarea formControlName="description"></ion-textarea>
      </ion-item>

      <div formArrayName="packages">
        <ion-card
          *ngFor="let pkg of packages.controls; let i = index"
          [formGroupName]="i"
        >
          <ion-card-content>
            <ng-container *ngIf="form.get('type')?.value === 'entry'">
              <ion-item>
                <ion-label position="stacked">Número de Lote</ion-label>
                <ion-input formControlName="batch_number"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position="stacked">Cantidad de Libros</ion-label>
                <ion-input
                  type="number"
                  formControlName="book_quantity"
                ></ion-input>
              </ion-item>
            </ng-container>

            <ng-container *ngIf="form.get('type')?.value !== 'entry'">
              <ion-item>
                <ion-label position="stacked"
                  >Seleccionar Paquete (Lote)</ion-label
                >

                <ion-select
                  formControlName="package_id"
                  [disabled]="form.get('book_id')?.value === 0"
                  [placeholder]="
                    form.get('book_id')?.value === 0
                      ? 'Seleccione un libro primero'
                      : 'Seleccione paquete'
                  "
                  (ionChange)="pkg.get('moved_to_pallet')?.setValue('')"
                >
                  <ion-select-option
                    *ngIf="getFilteredPackages().length === 0"
                    [disabled]="true"
                  >
                    No hay paquetes disponibles para este libro
                  </ion-select-option>

                  <ion-select-option
                    *ngFor="let p of getFilteredPackages()"
                    [value]="p.id"
                    [disabled]="
                      isPackageDisabled(p.id, pkg.get('package_id')?.value)
                    "
                  >
                    {{ p.batch_number }}
                  </ion-select-option>
                </ion-select>
              </ion-item>
            </ng-container>

            <ion-item
              *ngIf="
                form.get('type')?.value === 'entry' ||
                (form.get('type')?.value === 'change' &&
                  pkg.get('package_id')?.value)
              "
            >
              <ion-label position="stacked">Mover a Pallet</ion-label>
              <ion-select formControlName="moved_to_pallet">
                <ion-select-option
                  *ngFor="let pallet of pallets"
                  [value]="pallet.id"
                  [disabled]="
                    isPalletDisabled(
                      pallet.id,
                      pkg.get('moved_to_pallet')?.value
                    ) ||
                    pallet.id === getCurrentPallet(pkg.get('package_id')?.value)
                  "
                >
                  {{ pallet.pallet_code }}
                  (Libre:
                  {{
                    getAvailableCapacity(pallet.id) +
                      (pkg.get("moved_to_pallet")?.value === pallet.id ? 1 : 0)
                  }})

                  <span
                    *ngIf="
                      pallet.id ===
                      getCurrentPallet(pkg.get('package_id')?.value)
                    "
                  >
                    - ACTUAL</span
                  >
                </ion-select-option>
              </ion-select>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </div>

      <ion-button
        expand="block"
        (click)="submit()"
        [disabled]="form.invalid"
        class="ion-margin-top"
      >
        Procesar {{ form.get("type")?.value | uppercase }}
      </ion-button>
    </div>
  </form>

  <div *ngIf="loading" class="ion-text-center">
    <ion-spinner name="crescent"></ion-spinner>
    <p>Cargando datos de almacén...</p>
  </div>
</ion-content>
