<ion-header>
  <ion-toolbar>
    <ion-title>Nuevo servicio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-segment [(ngModel)]="step">
  <ion-segment-button value="1">
    <ion-label>Servicio</ion-label>
  </ion-segment-button>

  <ion-segment-button value="2" [disabled]="step < 2">
    <ion-label>Contextos</ion-label>
  </ion-segment-button>

  <ion-segment-button value="3" [disabled]="step < 3">
    <ion-label>Disponibilidad</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-content class="ion-padding">
  <form [formGroup]="form">
    <div *ngIf="step === 1" formGroupName="service">
      <ion-item>
        <ion-input
          formControlName="user_id"
          placeholder="ID del dueño"
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-input formControlName="name" placeholder="Nombre"></ion-input>
      </ion-item>

      <ion-item>
        <ion-textarea
          formControlName="description"
          placeholder="Descripción"
        ></ion-textarea>
      </ion-item>

      <ion-item>
        <ion-input type="number" formControlName="base_price"></ion-input>
      </ion-item>
    </div>

    <div *ngIf="step === 2" formArrayName="contexts">
      <div
        *ngFor="let c of contexts.controls; let i = index"
        [formGroupName]="i"
      >
        <ion-item>
          <ion-label>Tipo</ion-label>
          <ion-select formControlName="context">
            <ion-select-option value="public">Público</ion-select-option>
            <ion-select-option value="local">Local</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item *ngIf="c.value.context === 'local'">
          <ion-label position="stacked">Local ID</ion-label>
          <ion-input type="number" formControlName="local_id"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Precio personalizado</ion-label>
          <ion-input type="number" formControlName="price_override"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Activo</ion-label>
          <ion-toggle formControlName="active"></ion-toggle>
        </ion-item>

        <ion-button color="danger" (click)="removeContext(i)">
          Eliminar contexto
        </ion-button>
      </div>

      <ion-button expand="block" (click)="addContext()">
        Agregar contexto
      </ion-button>
    </div>

    <div *ngIf="step === 3" formGroupName="availability_range">

        <ion-item>
          <ion-label position="stacked">Fecha inicio</ion-label>
          <ion-input type="date" formControlName="start_date"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Fecha fin</ion-label>
          <ion-input type="date" formControlName="end_date"></ion-input>
        </ion-item>

        <!-- HORAS -->
        <ion-item>
          <ion-label position="stacked">Hora inicio</ion-label>
          <ion-input type="time" formControlName="start_time"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Hora fin</ion-label>
          <ion-input type="time" formControlName="end_time"></ion-input>
        </ion-item>

        <!-- DÍAS DE LA SEMANA -->
        <ion-list>
          <ion-list-header>Días disponibles</ion-list-header>

          <ion-item *ngFor="let d of days">
            <ion-checkbox slot="start" [formControlName]="d.key"></ion-checkbox>
            <ion-label>{{ d.label }}</ion-label>
          </ion-item>
        </ion-list>

    </div>


    <ion-footer>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button *ngIf="step > 1" (click)="back()"> Anterior </ion-button>
        </ion-buttons>

        <ion-buttons slot="end">
          <ion-button *ngIf="step < 3" (click)="next()"> Siguiente </ion-button>

          <ion-button
            color="success"
            *ngIf="step === 3"
            (click)="finalize()"
            [disabled]="form.invalid"
          >
            Finalizar
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-footer>
  </form>
</ion-content>
