<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Actualizar Estado</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">Cerrar</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="submit()">

    <ion-list lines="none">
      <ion-item>
        <ion-select
          label="Estado de la reserva"
          label-placement="stacked"
          formControlName="status"
          okText="Aceptar"
          cancelText="Cancelar">

          <ion-select-option value="pending">Pendiente</ion-select-option>
          <ion-select-option value="confirmed">Confirmado</ion-select-option>
          <ion-select-option value="cancelled">Cancelado</ion-select-option>

        </ion-select>
      </ion-item>
    </ion-list>

    <div class="ion-margin-top">
      <ion-button expand="block" type="submit" [disabled]="form.invalid">
        Guardar Cambios
      </ion-button>
    </div>

  </form>
</ion-content>
