<ion-header class="ion-no-border">
  <ion-toolbar class="admin-toolbar">
    <div class="page-header-container">
      <div class="header-info">
        <h1>Gestión de <span>Libros</span></h1>
      </div>

      <button (click)="openCreate()" class="add-book-btn">
        <ion-icon name="add-outline"></ion-icon>
        <span>Añadir nuevo libro</span>
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <div class="max-w-7xl mx-auto p-6 md:p-8">

    <div *ngIf="loading" class="flex flex-col items-center justify-center h-64 w-full">
      <ion-spinner name="lines-sharp" color="primary"></ion-spinner>
      <p class="text-slate-400 text-xs mt-4 uppercase tracking-widest font-bold animate-pulse">Cargando catalogo...</p>
    </div>

    <div *ngIf="!loading" class="space-y-6">

      <div *ngFor="let b of books" class="book-row group">
        <div class="book-spine" [style.background-color]="b.level === 'A1' ? '#3b82f6' : '#64748b'"></div>

        <div class="flex-1 grid grid-cols-1 md:grid-cols-12 items-center gap-6 p-6">

          <div class="md:col-span-4">
            <h2 class="text-xl font-bold text-slate-800 group-hover:text-blue-700 transition-colors uppercase leading-tight tracking-tight">
              {{ b.title }}
            </h2>
            <div class="flex items-center gap-2 mt-2">
              <span class="text-[10px] bg-slate-100 text-slate-600 px-2 py-0.5 rounded font-black uppercase border border-slate-200">{{ b.level }}</span>
              <span class="text-[11px] text-slate-400 font-bold uppercase tracking-tighter">ISBN: {{ b.isbn }}</span>
            </div>
          </div>

          <div class="md:col-span-5 border-l border-slate-100 pl-6 grid grid-cols-2 gap-y-4">
            <div class="data-field">
              <p class="label">Proveedor</p>
              <p class="text-slate-700 font-bold">{{ b.supplier }}</p>
            </div>
            <div class="data-field">
              <p class="label">Precio del Paquete/p>
              <p class="text-blue-800 font-black text-xl leading-none">{{ b.price | currency }}</p>
            </div>
          </div>

          <div class="md:col-span-3 flex justify-end gap-3">
            <button (click)="openEdit(b)" class="book-action-btn edit" title="Editar ficha">
              <ion-icon name="pencil-outline"></ion-icon>
            </button>
            <button (click)="delete(b.id)" class="book-action-btn delete" title="Eliminar del catálogo">
              <ion-icon name="trash-outline"></ion-icon>
            </button>
          </div>
        </div>
      </div>

    </div>
  </div>
</ion-content>
