<ion-content>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>

      <ion-title>Mi Aplicación</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/admin/users" routerDirection="forward">
          Usuarios
        </ion-button>
        <ion-button routerLink="/admin/vehicles" routerDirection="forward">
          Vehículos
        </ion-button>
        <ion-button routerLink="/admin/books" routerDirection="forward">
          Libros
        </ion-button>
        <ion-button (click)="openCreate()"> Abrir Ticket </ion-button>

        <ion-button (click)="logout()"> Salir </ion-button>
      </ion-buttons>

      <ion-buttons slot="end">
        <ion-button routerLink="/profile" routerDirection="forward">
          <ion-icon slot="icon-only" name="person-circle"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
</ion-content>
