<ion-header>
  <ion-toolbar>
    <ion-title>Servicios</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openCreate()">
        <ion-icon name="add"></ion-icon>
        Agregar
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngIf="!loading">
    <ion-item *ngFor="let s of services">
      <ion-label>
        <h2>{{ s.name }}</h2>
        <p>${{ s.base_price }}</p>
      </ion-label>

      <ion-button fill="clear" [routerLink]="['/admin/services/edit', s.id]">
        ✏️
      </ion-button>

      <ion-button fill="clear" color="danger" (click)="delete(s.id)">
        🗑️
      </ion-button>

      <ion-button
        color="warning"
        [routerLink]="['/admin/services',s.id,'context']">
        Contexto del servicio
     </ion-button>
     <ion-button
        color="warning"
        [routerLink]="['/admin/services',s.id,'availability']">
        Disponibilidad del servicio
     </ion-button>
    </ion-item>
  </ion-list>

  <ion-spinner *ngIf="loading"></ion-spinner>

</ion-content>
